*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
}
/* style navbar....   */

header nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

header nav #logo img{
   width:7rem;
}


header nav ul{
    display: flex;
    gap: 2rem;
}

header nav ul li{
    list-style: none;
    text-transform:capitalize ;
    color: black;
    font-size: 1rem;
   
}

header nav #nav-btn button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #30B868;
    color: #fff;
    font-size: 0.9rem;

}

header nav #nav-btn button:hover{
    background-color:#0daa4f ;
}


/* style main section  */

main{
    background-image: url(./images/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

main #hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #hero-content #Early-Access-btn-container{
    display: flex;
    position: relative;
    margin-bottom: 1.2rem;

}

main #hero-content #Early-Access-btn-container #outer-point{
    height: 0.8rem;
    width: 0.8rem;
    background-color: #0daa4f;
    border-radius: 50%;
    position: absolute;
    left: 0.8rem;
    top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
main #hero-content #Early-Access-btn-container #outer-point #inner-point{
    width:0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: white;
}
main #hero-content #Early-Access-btn-container #Early-Access-btn{
    padding:0.3rem 1rem;
    padding-left: 2rem;
    color: #30B868;
    text-transform: capitalize;
    font-size: 0.9rem;
    border: none;
    border-radius: 1rem;
}


main h1{
    font-size:3.7rem ;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    margin-bottom: 0.7rem;
}

main h1 span{
    color: #30B868;
}

main #hero-para p{
    text-align: center;
    font-size: 1rem;
    word-spacing: 3px;
    color: white;
    line-height: 30px;
    font-weight: 200;
}
main #hero-para{
    margin-bottom: 1.4rem;
}

main #hero-two-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;

}
 main #hero-two-btn .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 1.4rem;
    gap: 0.7rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
    color: white;
 }

  main #hero-two-btn #built-vault{
    background-color: #30B868;
  }
   main #hero-two-btn #built-vault:hover{
    background-color: #0daa4f;
   }

  main #hero-two-btn #how-works{
    border: 2px solid white;
    background-color: transparent;
  }

  /* Notes sectioin start......  */

 #notes-Section{
    width: 100%;
    background-color: rgb(235, 232, 232);
    display: flex;
    justify-content: center;

 }

  #notes-Section #notes-container{
    width: 90%;
    margin-top: 2.2rem;
    
  }
 
 #notes-Section #notes-container #notes-content{
    text-align: center;
    margin-bottom: 1.3rem;
 }

  #notes-Section #notes-container #notes-content h1{
    font-size:2.9rem ;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5rem;
  }
    #notes-Section #notes-container #notes-content p{
        font-size: 0.9rem;
        color: rgb(122, 121, 121);
        word-spacing: 3px;

    }

    #notes-Section #notes-container #notes-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #notes-Section #notes-container #notes-items .note-box{
        flex-basis: 23%;
        padding: 0.8rem;
        height: 13rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        border-top-left-radius:5px ;
        border-top-right-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    }

    #notes-Section #notes-container #notes-items .note-box .icon{
        background-color:#F85454;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.8rem;
    }

    #notes-Section #notes-container #notes-items .note-box .icon img{
        display: inline-block;
       width: 1.4rem;
    }

    #notes-Section #notes-container #notes-items .note-box .content{
        text-align: center;
    }

     #notes-Section #notes-container #notes-items .note-box .content h1{
        font-size: 1.3rem;
        margin-bottom: 0.7rem;
        text-transform: capitalize;
     }
     #notes-Section #notes-container #notes-items .note-box .content p{
        font-size: 0.9rem;
        line-height: 1.3rem;
     }

     /* Notes section end ...... */