*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
}
/* style navbar....   */

header nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

header nav #logo img{
   width:7rem;
}


header nav ul{
    display: flex;
    gap: 2rem;
}

header nav ul li{
    list-style: none;
    text-transform:capitalize ;
    color: black;
    font-size: 1rem;
   
}

header nav #nav-btn button{
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.3rem;
    background-color: #30B868;
    color: #fff;
    font-size: 0.9rem;

}

header nav #nav-btn button:hover{
    background-color:#0daa4f ;
}


